In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
teams=pd.read_csv('teams.csv')
team_attributes=pd.read_csv('team_attributes.csv')
leagues=pd.read_csv('leagues.csv')
matches=pd.read_csv('matches.csv')
countries=pd.read_csv('countries.csv')

In [39]:
countries

    Unnamed: 0     id         name
0            0      1      Belgium
1            1   1729      England
2            2   4769       France
3            3   7809      Germany
4            4  10257        Italy
5            5  13274  Netherlands
6            6  15722       Poland
7            7  17642     Portugal
8            8  19694     Scotland
9            9  21518        Spain
10          10  24558  Switzerland

In [40]:
leagues

,Unnamed: 0,id,country_id,name,id.1,name.1
0,0,1,1,Belgium Jupiler League,1,Belgium
1,1,1729,1729,England Premier League,1729,England
2,2,4769,4769,France Ligue 1,4769,France
3,3,7809,7809,Germany 1. Bundesliga,7809,Germany
4,4,10257,10257,Italy Serie A,10257,Italy
5,5,13274,13274,Netherlands Eredivisie,13274,Netherlands
6,6,15722,15722,Poland Ekstraklasa,15722,Poland
7,7,17642,17642,Portugal Liga ZON Sagres,17642,Portugal
8,8,19694,19694,Scotland Premier League,19694,Scotland
9,9,21518,21518,Spain LIGA BBVA,21518,Spain
10,10,24558,24558,Switzerland Super League,24558,Switzerland

In [41]:
matches

,Unnamed: 0,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,25974,25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,25975,25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,25976,25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,25977,25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,25978,25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
teams

,Unnamed: 0,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name
0,0,1,9987,673.0,KRC Genk,GEN
1,1,2,9993,675.0,Beerschot AC,BAC
2,2,3,10000,15005.0,SV Zulte-Waregem,ZUL
3,3,4,9994,2007.0,Sporting Lokeren,LOK
4,4,5,9984,1750.0,KSV Cercle Brugge,CEB
...,...,...,...,...,...,...
294,294,49479,10190,898.0,FC St. Gallen,GAL
295,295,49837,10191,1715.0,FC Thun,THU
296,296,50201,9777,324.0,Servette FC,SER
297,297,50204,7730,1862.0,FC Lausanne-Sports,LAU
298,298,51606,7896,NaN,Lugano,LUG

In [43]:
team_attributes

,Unnamed: 0,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,1453,1454,15005,10000,2011-02-22 00:00:00,52,Balanced,NaN,Little,52,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,1454,1455,15005,10000,2012-02-22 00:00:00,54,Balanced,NaN,Little,51,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,1455,1456,15005,10000,2013-09-20 00:00:00,54,Balanced,NaN,Little,51,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,1456,1457,15005,10000,2014-09-19 00:00:00,54,Balanced,42.0,Normal,51,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,1457,1458,15005,10000,2015-09-10 00:00:00,54,Balanced,42.0,Normal,51,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

In [44]:
leagues.rename(columns={'name.1':'Country','name':'League'},inplace=True)
leagues=leagues[(leagues['Country']=='England')|(leagues['Country']=='Germany')|(leagues['Country']=='France')|(leagues['Country']=='Italy')|(leagues['Country']=='Spain')]
leagues

   Unnamed: 0     id  country_id                  League   id.1  Country
1           1   1729        1729  England Premier League   1729  England
2           2   4769        4769          France Ligue 1   4769   France
3           3   7809        7809   Germany 1. Bundesliga   7809  Germany
4           4  10257       10257           Italy Serie A  10257    Italy
9           9  21518       21518         Spain LIGA BBVA  21518    Spain

In [45]:
team_attributes['date']=team_attributes['date'].apply(lambda x: x.split()[0])
team_attributes['date']=team_attributes['date'].apply(lambda x: x.split('-')[0])
team_attributes

,Unnamed: 0,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,0,1,434,9930,2010,60,Balanced,NaN,Little,50,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,1,2,434,9930,2014,52,Balanced,48.0,Normal,56,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,2,3,434,9930,2015,47,Balanced,41.0,Normal,54,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,3,4,77,8485,2010,70,Fast,NaN,Little,70,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,4,5,77,8485,2011,47,Balanced,NaN,Little,52,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,1453,1454,15005,10000,2011,52,Balanced,NaN,Little,52,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,1454,1455,15005,10000,2012,54,Balanced,NaN,Little,51,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,1455,1456,15005,10000,2013,54,Balanced,NaN,Little,51,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,1456,1457,15005,10000,2014,54,Balanced,42.0,Normal,51,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,1457,1458,15005,10000,2015,54,Balanced,42.0,Normal,51,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

In [46]:
teams=team_attributes.merge(teams[['team_fifa_api_id','team_long_name']])
teams.rename(columns={'date':'season'},inplace=True)
teams

,Unnamed: 0,id,team_fifa_api_id,team_api_id,season,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,...,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass,team_long_name
0,0,1,434,9930,2010,60,Balanced,NaN,Little,50,...,Normal,Organised,50,Medium,55,Press,45,Normal,Cover,FC Aarau
1,1,2,434,9930,2014,52,Balanced,48.0,Normal,56,...,Normal,Organised,47,Medium,44,Press,54,Normal,Cover,FC Aarau
2,2,3,434,9930,2015,47,Balanced,41.0,Normal,54,...,Normal,Organised,47,Medium,44,Press,54,Normal,Cover,FC Aarau
3,3,4,77,8485,2010,70,Fast,NaN,Little,70,...,Lots,Organised,60,Medium,70,Double,70,Wide,Cover,Aberdeen
4,4,5,77,8485,2011,47,Balanced,NaN,Little,52,...,Normal,Organised,47,Medium,47,Press,52,Normal,Cover,Aberdeen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,1453,1454,15005,10000,2011,52,Balanced,NaN,Little,52,...,Normal,Organised,46,Medium,48,Press,53,Normal,Cover,SV Zulte-Waregem
1469,1454,1455,15005,10000,2012,54,Balanced,NaN,Little,51,...,Normal,Organised,44,Medium,55,Press,53,Normal,Cover,SV Zulte-Waregem
1470,1455,1456,15005,10000,2013,54,Balanced,NaN,Little,51,...,Little,Organised,44,Medium,58,Press,37,Normal,Cover,SV Zulte-Waregem
1471,1456,1457,15005,10000,2014,54,Balanced,42.0,Normal,51,...,Little,Organised,44,Medium,58,Press,37,Normal,Cover,SV Zulte-Waregem
1472,1457,1458,15005,10000,2015,54,Balanced,42.0,Normal,51,...,Little,Organised,44,Medium,58,Press,37,Normal,Cover,SV Zulte-Waregem